BOT_TOKEN=<your_telegram_bot_token>
CHAT_ID=<telegram_bot_chat_id>
PHOTOS_FOLDER=<photos_to_be_posted_folder_name>
POSTED_FOLDER=<folder_name_to_store_posted_photos>
SCHEDULE_HOUR=<hour_at_which_suggestion_needs_to_be_scheduled>
SCHEDULE_MINUTE=<minutes_at_which_suggestion_needs_to_be_scheduled>
MAX_CANDIDATES=<number_of_maximum_photos_to_be_evaluated_at_a_time>
MAX_PROCESSES=<maximum number of parallel image processing threads your machine can handle>
SKIP_RETRY=<number of suggestions to be processed in case skip is performed>
PROCESS_TIMEOUT=<timeout in seconds for parallel processes>
DB_PATH=<local_db_file_name>
MODELS_PATH=<path_to_models_folder>